body{
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}

.container{
    display: flex;
    flex-direction: column;
   
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    padding: 13px;
    margin-bottom: 40px;
    
}

header svg {
    width: 50%;
}

nav {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    margin-left: 48px;
    
}

.main-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    justify-content: space-evenly;
    
}

.content {
    flex: 2;
}

.cards{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 24px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.cards-img {
    width: 100%;
    

}

.cards-header{
    padding: 0 24px;
}

.cards-header h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin: 0;
   

}

.cards-header h6{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #929292;
    margin-top: 8px;
    

}
.cards p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
  

}

.cards-content{
    padding: 0 24px;
}

.cards-footer{
    display: flex;
    justify-content: flex-end;

}

.cards-footer a {
    all: unset;
    border: 1px solid #FE0078;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    text-align: center;
}

.cards-footer a:hover{
    cursor: pointer;
    background-color: #FE0078;
    color: #FFFFFF;
}

.categories{
    margin-top: 25px;
}

.categories-adv{
    background-color: #FFFFFF;
    flex: 1;
    margin-left: 40px;
    height: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 24px;
   
}
 .categories-adv input {
    all: unset;
    border: 1px solid #EEEEEE;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 16px;

}

.categories-adv input:hover{
    cursor: pointer;
    border-color: #FE0078;
}

.categories-list {
    display: flex;
    flex-direction: column;
}

.categories-list li{
    all: unset;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    border-bottom: 2px dashed #EEEEEE ;
}

.adv{
    margin-top: 25px;
}

.adv h1, .categories h1{
    border-left: 2px solid #FE0078;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 11px;

}

.pub-img-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publicidade-img{
    width: 340px;
    height: 240px;
    background-color: #EEEEEE;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{

    background-color: #222222;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.formulario-contato{
    display: flex;
    flex-direction: column;
}

.formulario-contato input{
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 12px;

}

.formulario-contato input:hover{
    cursor: pointer;
    border-color: #FE0078;
}

.btn-enviar{
    all: unset;
    align-self: flex-end;
    border-radius: 20px;
    background: #FE0078;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 24px;




}

.btn-enviar:hover{
    cursor: pointer;
}